body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.hidden {
    display: none;
}


#weather {
    display: block;
    float: right;
    color: #f0f8ff;
}

#clock {
    display: block;
    text-align: center;
    margin-top: 25px;
}

#quote {
    text-align: center;
}


#login-form {
    text-align: center;
}



#greeting {
    display: block;
    text-align: center;
    animation: 2s ease;
}

#todo-space {
    display: block;
    text-align: center;
    margin-top: 0px;
}

ul {
    list-style-type: none;
}

#world-form {
    margin-top: 400px;
}